<h2>Eliminar Película</h2>

<div *ngIf="movieTitle" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ movieTitle }}</h5>
    <p>¿Estás seguro de que deseas eliminar esta película?</p>
    <button class="btn btn-danger" (click)="deleteMovie()">Eliminar</button>
    
    <div *ngIf="showRedirectMessage">
      <p>Redirigiendo a la página de inicio en {{ countdown }} segundos...</p>
    </div>
    
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{error}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
      {{successMessage}}
    </div>
  </div>
</div>
